<?php

namespace Mastercat\Bots\Config;

class VB_CONF {

	const auth_token	= '<api-token>';
	const webhook		= 'viberbot12345.php';
	const send_name		= 'Mastercat Bot';
	const admin_id		= '<admin userid>';
	const debug			= true;
	const lang			= 'ru';
	const dbconnect		= 'mysql:dbname=<database>;host=localhost';
	const dbuser		= '<user>';
	const dbpass		= '<passw>';

}